<div class="container">
    <h1 class="d-flex justify-content-center my-3">ZOOland</h1>
    <div class="d-flex justify-content-center">
        <form class="form-inline">
            <input (keyup)="onChangeSearchPhrase($event)" class="form-control" type="text"
                placeholder="Search animal...">
        </form>
    </div>
    <h2 class="text-center mt-5 mb-3">Our Animals</h2>
    <div class="row">
        <app-animal-list [animalList]="animalList$ | async" [searchPhraseString]="searchPhrase"></app-animal-list>
    </div>
</div>