<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td *ngFor="let animal of animalList"> {{animal.id}}</td>
                <td *ngFor="let animal of animalList"> {{animal.catId}}</td>
                <td *ngFor="let animal of animalList"> {{animal.name}}</td>
                <td *ngFor="let animal of animalList"> {{animal.price}}</td>
                <td *ngFor="let animal of animalList"> {{animal.endangered}}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>