<div class="container">
    <table class="table table-striped">
        <thead>
            <tr *ngFor="let animal of animalList$ | async">
                <td *ngFor="let animal of animalList$ | async"> {{animal.id}}</td>
                <td *ngFor="let animal of animalList$ | async"> {{animal.catId}}</td>
                <td *ngFor="let animal of animalList$ | async"> {{animal.name}}</td>
                <td *ngFor="let animal of animalList$ | async"> {{animal.price}}</td>
                <td *ngFor="let animal of animalList$ | async"> {{animal.endangered}}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>