<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped bg-light">
                <thead>
                    <tr>
                        <th class="text-danger text-center" *ngFor="let col of animalcols">{{ col.text }}</th>
                        <th class="text-danger">Buttons</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of animalList$ | async">
                        <td *ngFor="let col of animalcols">
                            <input class="form form-control text-primary" *ngIf="col.editable"
                                [(ngModel)]="animal[col.key]" type="text">
                            <span class="text-muted" *ngIf="!col.editable">{{animal[col.key]}}</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info" (click)="onUpdateAnimal(animal)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button class="btn btn-danger" (click)="onDeleteAnimal(animal)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>