<div class="comtainer">
    <div class="row">
        <div class="col">
            <h1>Animals</h1>
            <table class="table table stripped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>image</th>
                        <th>price</th>
                        <th>endangered</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of animals">
                        <td>{{ animal.id }}</td>
                        <td>{{ animal.name }}</td>
                        <td>{{ animal.image }}</td>
                        <td>{{ animal.price }}</td>
                        <td>{{ animal.endangered }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>