<div class="container-fluid">
    <h1 class="d-flex justify-content-center my-3">ZOOland</h1>
    <h2 class="text-center mt-5 mb-3">Endangered Animals</h2>
    <div class="row d-flex justify-content-center mx-auto">
        <div *ngFor="let animal of animalsInDanger$ | async">
            <app-animal-card [animal]="animal"></app-animal-card>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2 class="text-center mt-5 mb-3 mx-auto">Category Animals</h2>
    <div class="row d-flex justify-content-center">
        <div *ngFor="let animal of animalsInCategory$ | async">
            <app-animal-card [animal]="animal"></app-animal-card>
        </div>
    </div>
</div>