<!-- <section id="cardSection" class="py-5">
    <div class="container">
        <div id="juli" class="col-md-5 card flex-row shadow-sm" style="width: 100rem">
            <div id="picture" class="col-4">

                <img src="{{animal.image}}" class="card-img-top " alt="book">
            </div>
            <div class="col-7 card-body text-center">
                <h5 class="card-title mb-5 text-center">
                    <p class="card-text"><small>{{animal.name}}</small></p>
                </h5>
                <div class="card-body text-center description">
                    <p>{{animal.endangered}}</p>
                </div>
                <div class="card-body text-center flex-flow">
                    <p>Ár: {{animal.price}} Ft</p>
                </div>

                <div class="card-body text-center">
                    <a href="#" class="card-link"><strong>Kosárba</strong></a>

                </div>
            </div>
        </div>

    </div>
</section>
 -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img [src]="animal.image" class="card-img-top " alt="animal">
                <div class="card-body">
                    <p>{{ animal.name }}</p>
                    <p>{{ animal.price }}</p>
                    <p>{{ animal.endangered }}</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>
</div>