<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ animal.image }}" class="card-img-top " alt="animal">
                <div class="card-body">
                    <p class="d-flex justify-content-center"><strong>{{ animal.name }}</strong></p>
                    <p class="d-flex justify-content-center">Price: {{ animal.price }} HUF</p>
                    <p class="d-flex justify-content-center text-danger">{{ animal.endangered }}</p>
                </div>
            </div>
        </div>
    </div>
</div>